:root {
    --primary-color: #f6f6f6;
    --secondary-color: #18161A;
    
}

body{
    background-color: #18181b;
    color: #f6f6f6;
    line-height: 1.5;
    text-size-adjust: 100%;
    background-image: url('./img/Vector.svg');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;

}
main{
    margin: 5%;
}

/* Utilities */

.main-margin {
    margin: 8%;
}

.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 15%
}

.align-items-center{
    display: flex;
    align-items: center;

}

.txtwhite {
    color: white;
}

.txtblack {
    color: #18181b;
}

.txtalign {
    text-align: center;

}

.inline-block{
    display: inline-block;
}

.automargin {
    margin-top: 6%;
}

.fontset {
    font-size: 3.2rem;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.bold-medium {
    font-weight: 500;
}

a {
    text-decoration: none;
    color: white;
}

/* Utilities-END */

/* Navbar */

.stickyy {
    position: sticky;
    top: 0;
    width: 100%;
}

.d-flex-sm{
    display: flex;
    flex-direction: column;
}

.nav-sm{
    margin: 3%;
    width: 100%;
}

.nav-pad {
    padding: 5px;
    padding-left: 8%;
}

.nav-link {
    padding: 8px 15px;
    color: white;
    font-weight: 500;
    margin-left: 16px;


}

.navbar-nav{
    padding: .8%;
}

.navbar-brand {
    font-weight: 700;
}

.nav-link:hover {
    background-color: #ffffff1a;
    border-radius: 3px;

}

.active{
    background-color: #ffffff1a;
    border-radius: 3px;
}

.sign-in-btn {
    font-size: 1.125rem;
    text-shadow: 0 0 0.5px var(--secondary-color);
    background-color: white;
    color: #8080ffd0;
}

.sign-in-btn:hover {
    color: var(--primary-color);
    background-color: rgba(255, 255, 255, 0.943);
}

.signin {
    padding-right: 10%;
    float: right;
}

#nav-title{
    font-weight: bold;font-size:1.2rem;margin-right: 30px
}
.nav-toggler {
    background-color: #27272a80;
    padding: 10px;
    width: 20px;
    cursor: pointer;
    border-radius: 3px;
}

#trans{
    display: none;
}

#nav-collapse{
    display: none;
}

.blur {
    z-index: 2;

    box-shadow: 1px 1px #ffffff1a;
    backdrop-filter: blur(8px) saturate(125%);
    /* Blur the background */
    /* 10px Gaussian Blur and saturate for fluent design */
    -webkit-backdrop-filter: blur(8px) saturate(125%);
    /* Increases browser compability (safari ios and mac) */
}



.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #ffffff1a;


}

.navbar-toggler {
    background-color: #27272a80;
    padding: 8px;
    width: 40px;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0;
}

/* NAVBAR-END */

#box{
    width: 40vw;
    height: 350px;
    background: linear-gradient(114.7deg, #27272A -9.77%, #18181B 110.32%);
    position: relative;
    font-size: 1.1rem;

}

/* #stars1{
    width: 40%;
 }
 #stars2{
     width: 28%;
 } */

.bg-grad {
    background: linear-gradient(114.7deg, #27272A -9.77%, #18181B 110.32%);
    border: 3px solid transparent;
    border-image: linear-gradient(114.7deg, #8080FF -90.77%, #18181B 110.32%);
    border-image-slice: 1;
    border-radius: 0.25rem;

}
.bg-trans {
    background-color: transparent;
    border: 0;
   
}

.d-flex-card{
    
}

.cardicon {
    font-size: 42px;
    color: #8080FF;
    margin-bottom: 5%;
}

.card-padding {
    padding: 4%;
    margin: 4% 2%;
}

.cardlogo{
    width: 22%;
}

.progress-bar{
    width: 80%;height: 5px;background-color:white;
    border-radius: 20px;
    margin-bottom: 20px;
    
}

#bar1{
    background: linear-gradient(114.7deg, #d84924 -90.77%, #41414a 110.32%);
}
#bar2{
    background: linear-gradient(114.7deg, #2449d8 -90.77%, #41414a 110.32%);
}
#bar3{
    background: linear-gradient(114.7deg, #523b76 -90.77%, #41414a 110.32%);
}
#bar4{
    background: linear-gradient(114.7deg, #ead416 -90.77%, #41414a 110.32%);
}
#bar5{
    background: linear-gradient(114.7deg, #005095 -90.77%, #41414a 110.32%);
}
#bar6{
    background: linear-gradient(114.7deg, #b58125 -90.77%, #41414a 110.32%);
}


.cards{
    background-color: #18181b;
    
}
.cards img{
    border-radius: 15px;
    
}

.port-img{
    width:400px;border-radius: 15px;
}

.d-flex-folio{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#footer{
    padding: 20px;
    background-color: #27272A;
}

@media only screen and (max-width: 768px){

    .fontset{
        font-size: 2.5rem
    }
    main{
        margin: 8%;
    }
    #box{
       width: 100%;
       font-size: 1rem;
       overflow: scroll;
    }
    /* #stars1{
       width: 99%;
    }
    #stars2{
        width: 28%;
    } */
    #title{
        text-align: center;
        font-size: ;
    }
    .port-img{
        width: 300px;
    }
    .nav-lg{
        display: none;
    }

    .navbar-nav{
        padding: 3.475%;
    }
    #nav-title{
        margin-right: 40%;
    }
    #trans{
        display: inline;
    }
}
